Repository adessoAG/coderadar, pull requests merged in 2020-07, with the labels that each got.

#390 Fixed footer
  coderadar-ui/package-lock.json
  coderadar-ui/src/app/view/footer/footer.component.html
  coderadar-ui/src/app/view/main-dashboard/main-dashboard.component.scss
  coderadar-ui/src/styles.scss
Labels: component:coderadar-ui, type:bug

#388 Speed up selecting commits in the graph view
  coderadar-ui/src/app/view/project-dashboard/branch-view/branch-view.component.ts
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.ts
Labels: component:coderadar-ui, type:enhancement

#393 Fix the calculation of renames in the delta tree adapter.
  coderadar-core/build.gradle
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/domain/File.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/vcs/port/driven/GetRawCommitContentPort.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/domain/FileEntity.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/project/adapter/FileBaseDataMapper.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/adapter/GetDeltaTreeForTwoCommitsAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/adapter/GetMetricTreeForCommitAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/repository/MetricQueryRepository.java
  coderadar-vcs/src/main/java/io/reflectoring/coderadar/vcs/adapter/ExtractProjectCommitsAdapter.java
  coderadar-vcs/src/main/java/io/reflectoring/coderadar/vcs/adapter/GetRawCommitContentAdapter.java
Labels: component:coderadar-graph, component:coderadar-vcs, type:bug

#391 Automatic branch analysis
  coderadar-core/src/main/java/io/reflectoring/coderadar/analyzer/port/driver/StartAnalyzingUseCase.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/analyzer/service/AnalyzingService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/ScanProjectScheduler.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/analyzing/StartAnalyzingController.java
  coderadar-test/src/main/asciidoc/restapi.adoc
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/analysis/PaySimProjectIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/analysis/ResetAnalysisControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/analysis/StartAnalysisControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetAvailableMetricsInProjectControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetDeltaTreeForTwoCommitsControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetFileContentWithMetricsControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetFileDiffControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetMetricTreeForCommitControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetMetricValuesOfCommitControllerTest.java
  coderadar-ui/src/app/service/project.service.ts
  coderadar-ui/src/app/view/main-dashboard/main-dashboard.component.ts
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.html
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.ts
Labels: component:coderadar-core, type:enhancement

#350 contributor card with contact info dialog
  coderadar-ui/src/app/app.module.ts
  coderadar-ui/src/app/components/contributor-card/contributor-card.component.css
  coderadar-ui/src/app/components/contributor-card/contributor-card.component.html
  coderadar-ui/src/app/components/contributor-card/contributor-card.component.spec.ts
  coderadar-ui/src/app/components/contributor-card/contributor-card.component.ts
  coderadar-ui/src/app/components/contributor-card/contributor-dialog.css
  coderadar-ui/src/app/components/contributor-card/contributor-dialog.html
  coderadar-ui/src/app/components/contributor-merge-dialog/contributor-merge-dialog.component.html
  coderadar-ui/src/app/components/contributor-merge-dialog/contributor-merge-dialog.component.spec.ts
  coderadar-ui/src/app/components/contributor-merge-dialog/merge-dialog.component.ts
  coderadar-ui/src/app/components/delete-project-dialog/delete-project-dialog.component.css
  coderadar-ui/src/app/components/delete-project-dialog/delete-project-dialog.component.html
  coderadar-ui/src/app/components/delete-project-dialog/delete-project-dialog.component.spec.ts
  coderadar-ui/src/app/components/delete-project-dialog/delete-project-dialog.component.ts
  coderadar-ui/src/app/view/configure-project/configure-project.component.html
  coderadar-ui/src/app/view/configure-project/configure-project.component.ts
  coderadar-ui/src/app/view/main-dashboard/main-dashboard.component.ts
Labels: component:coderadar-ui
