Repository adessoAG/coderadar, pull requests merged in 2020-04, with the labels that each got.

#342 Minor fixes in the Back-End
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/port/driven/project/DeleteProjectPort.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/port/driven/project/UpdateProjectPort.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/UpdateProjectService.java
  coderadar-core/src/test/java/io/reflectoring/coderadar/projectadministration/project/UpdateProjectServiceTest.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/analyzer/repository/CommitRepository.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/project/adapter/CommitAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/project/adapter/DeleteProjectAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/project/adapter/UpdateProjectAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/project/repository/ProjectRepository.java
Labels: component:coderadar-core, component:coderadar-graph, type:enhancement

#351 Add delete project confirmation dialog
  coderadar-ui/src/app/app.module.ts
  coderadar-ui/src/app/view/main-dashboard/delete-project-dialog.html
  coderadar-ui/src/app/view/main-dashboard/main-dashboard.component.html
  coderadar-ui/src/app/view/main-dashboard/main-dashboard.component.ts
Labels: component:coderadar-ui

#352 Add functionallity for deleting branches.
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/domain/Branch.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/port/driven/branch/DeleteBranchPort.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/port/driver/branch/list/ListBranchesUseCase.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/branch/ListBranchesService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/ScanProjectScheduler.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/analyzer/repository/CommitRepository.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/analyzer/repository/MetricRepository.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/branch/adapter/DeleteBranchAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/branch/repository/BranchRepository.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/branch/ListBranchesController.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/branches/DeleteBranchTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/branches/ListBranchesControllerTest.java
  coderadar-ui/src/app/view/file-view/file-view.component.ts
Labels: component:coderadar-core, component:coderadar-graph, type:enhancement

#353 Adjust test for more meaningful rest-api-docs
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetAvailableMetricsInProjectControllerTest.java
Labels: component:documentation

#355 Added a file diff view in the file tree browser.
  coderadar-core/src/main/java/io/reflectoring/coderadar/analyzer/service/AnalyzeCommitService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/analyzer/service/AnalyzingService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/analyzer/service/ResetAnalysisService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/contributor/service/MergeContributorsService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/contributor/service/UpdateContributorService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/ProcessProjectService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/analyzerconfig/CreateAnalyzerConfigurationService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/analyzerconfig/DeleteAnalyzerConfigurationService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/analyzerconfig/UpdateAnalyzerConfigurationService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/filepattern/CreateFilePatternService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/filepattern/DeleteFilePatternService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/module/CreateModuleService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/module/DeleteModuleService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/CreateProjectService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/DeleteProjectService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/ScanProjectScheduler.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/UpdateProjectService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driver/filediff/GetFileDiffCommand.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driver/filediff/GetFileDiffUseCase.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/service/GetFileDiffService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/useradministration/service/register/RegisterUserService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/vcs/port/driven/GetRawCommitContentPort.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/vcs/port/driver/GetCommitRawContentUseCase.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/vcs/service/GetRawCommitContentService.java
  coderadar-plugins/checkstyle-analyzer-plugin/src/main/java/io/reflectoring/coderadar/analyzer/checkstyle/CheckstyleSourceCodeFileAnalyzerPlugin.java
  coderadar-plugins/checkstyle-analyzer-plugin/src/test/java/io/reflectoring/coderadar/analyzer/checkstyle/CheckstyleSourceCodeFileAnalyzerPluginTest.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/query/GetFileDiffController.java
  coderadar-test/src/main/asciidoc/restapi.adoc
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/dependencymap/CompareTreeTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/dependencymap/TreeTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetAvailableMetricsInProjectControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetFileDiffControllerTest.java
  coderadar-ui/angular.json
  coderadar-ui/src/app/service/project.service.ts
  coderadar-ui/src/app/view/file-view/file-view.component.css
  coderadar-ui/src/app/view/file-view/file-view.component.html
  coderadar-ui/src/app/view/file-view/file-view.component.ts
  coderadar-ui/src/styles.scss
  coderadar-vcs/src/main/java/io/reflectoring/coderadar/vcs/adapter/GetRawCommitContentAdapter.java
Labels: component:coderadar-core, component:coderadar-rest, component:coderadar-ui, component:coderadar-vcs, type:feature

#349 Removed the end date field from projects
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/domain/Project.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/port/driver/project/create/CreateProjectCommand.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/port/driver/project/update/UpdateProjectCommand.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/CreateProjectService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/ScanProjectScheduler.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/UpdateProjectService.java
  coderadar-core/src/test/java/io/reflectoring/coderadar/projectadministration/project/GetProjectServiceTest.java
  coderadar-core/src/test/java/io/reflectoring/coderadar/projectadministration/project/ListProjectsServiceTest.java
  coderadar-core/src/test/java/io/reflectoring/coderadar/projectadministration/project/UpdateProjectServiceTest.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/domain/ProjectEntity.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/project/ProjectMapper.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/project/adapter/UpdateProjectAdapter.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/project/GetProjectController.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/project/ListProjectsController.java
  coderadar-rest/src/test/java/io/reflectoring/coderadar/rest/unit/project/CreateProjectControllerTest.java
  coderadar-rest/src/test/java/io/reflectoring/coderadar/rest/unit/project/UpdateProjectControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/analysis/PaySimProjectIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/analysis/ResetAnalysisControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/branches/DeleteBranchTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/branches/ListBranchesControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/branches/SaveProjectWithBranchesTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/contributor/GetContributorControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/contributor/ListContributorsControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/contributor/MergeContributorsControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/contributor/UpdateContributorControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/project/CreateProjectControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/project/GetProjectControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/project/ListProjectsControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/project/UpdateProjectControllerIntegrationTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetAvailableMetricsInProjectControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetCommitLogControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetCommitsInProjectControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetCriticalFilesControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetDeltaTreeForTwoCommitsControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetFileContentWithMetricsControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetFileDiffControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetFileTreeForCommitControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetMetricTreeForCommitControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetMetricValuesOfCommitControllerTest.java
  coderadar-ui/src/app/model/project.ts
  coderadar-ui/src/app/view/add-project/add-project.component.html
  coderadar-ui/src/app/view/edit-project/edit-project.component.html
  coderadar-ui/src/app/view/edit-project/edit-project.component.ts
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.ts
Labels: component:coderadar-core, for:team-discussion

#356 Added a custom description for each metric in the checkstyle plugin
  coderadar-app/src/main/java/io/reflectoring/coderadar/app/CoderadarApplication.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/analyzer/domain/Finding.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/analyzer/service/AnalyzeCommitService.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driver/filecontent/GetFileContentWithMetricsCommand.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driver/filediff/GetFileDiffCommand.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/analyzer/FindingsMapper.java
  coderadar-plugin-api/src/main/java/io/reflectoring/coderadar/plugin/api/Finding.java
  coderadar-plugins/checkstyle-analyzer-plugin/src/main/java/io/reflectoring/coderadar/analyzer/checkstyle/CoderadarAuditListener.java
  coderadar-ui/src/app/model/finding.ts
  coderadar-ui/src/app/view/file-view/file-view.component.ts
Labels: component:coderadar-core, component:coderadar-plugins, component:coderadar-ui, type:feature

#363 Update admin.adoc
  coderadar-test/src/main/asciidoc/admin.adoc
Labels: component:documentation

#365 Added filtering by email for the commits REST-endpoint and a front-end date-range filter.
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driven/GetCommitsInProjectPort.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driver/GetCommitsInProjectUseCase.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/service/GetCommitsInProjectService.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/analyzer/repository/CommitRepository.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/adapter/GetCommitsInProjectAdapter.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/query/GetCommitsInProjectController.java
  coderadar-test/src/main/asciidoc/restapi.adoc
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetCommitsInProjectControllerTest.java
  coderadar-ui/src/app/service/project.service.ts
  coderadar-ui/src/app/service/user.service.ts
  coderadar-ui/src/app/view/main-dashboard/main-dashboard.component.html
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.html
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.scss
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.ts
  coderadar-ui/src/app/view/project-dashboard/project-dashboard.component.html
  coderadar-ui/src/app/view/project-dashboard/project-dashboard.component.ts
Labels: component:coderadar-core, component:coderadar-rest, component:coderadar-ui, type:feature
