Repository adessoAG/coderadar, pull requests merged in 2020-03, with the labels that each got.

#338 Reduce amount of file nodes in the DB
  coderadar-vcs/src/main/java/io/reflectoring/coderadar/vcs/adapter/ExtractProjectCommitsAdapter.java
Labels: component:coderadar-core, type:enhancement

#340 Query speed up by not using @QueryResult
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/analyzer/repository/CommitRepository.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/analyzer/repository/MetricRepository.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/adapter/GetCommitsInProjectAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/adapter/GetMetricTreeForCommitAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/adapter/GetMetricValuesOfCommitAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/domain/MetricValueForCommitQueryResult.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/domain/MetricValueForCommitTreeQueryResult.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/repository/MetricQueryRepository.java
  coderadar-graph/src/test/java/io/reflectoring/coderadar/graph/contributor/MergeContributorsAdapterTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/analysis/ResetAnalysisControllerTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetMetricValuesOfCommitControllerTest.java
Labels: component:coderadar-graph, type:enhancement

#337 Branch visualization using gitgraph
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/CommitLog.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/CommitLogAuthor.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driven/GetCommitLogPort.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driver/GetCommitLogUseCase.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/service/GetCommitLogService.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/analyzer/repository/CommitRepository.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/branch/adapter/ListBranchesAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/branch/repository/BranchRepository.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/adapter/GetCommitLogAdapter.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/contributor/UpdateContributorController.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/query/GetCommitLogController.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/query/GetCriticalFilesController.java
  coderadar-test/src/main/asciidoc/restapi.adoc
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/branches/SaveProjectWithBranchesTest.java
  coderadar-test/src/test/java/io/reflectoring/coderadar/rest/query/GetCommitLogControllerTest.java
  coderadar-ui/package-lock.json
  coderadar-ui/package.json
  coderadar-ui/src/app/app.module.ts
  coderadar-ui/src/app/model/commit-log.ts
  coderadar-ui/src/app/service/project.service.ts
  coderadar-ui/src/app/view/project-dashboard/branch-view/branch-view.component.html
  coderadar-ui/src/app/view/project-dashboard/branch-view/branch-view.component.scss
  coderadar-ui/src/app/view/project-dashboard/branch-view/branch-view.component.ts
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.html
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.scss
  coderadar-ui/src/app/view/project-dashboard/list-view/list-view.component.ts
  coderadar-ui/src/app/view/project-dashboard/project-dashboard.component.html
  coderadar-ui/src/app/view/project-dashboard/project-dashboard.component.ts
  coderadar-vcs/src/main/java/io/reflectoring/coderadar/vcs/RevCommitHelper.java
Labels: component:coderadar-core, component:coderadar-ui, type:feature

#334 Remove the history of metric values endpoint
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/Day.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/DayDeserializer.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/DayPoint.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/DaySerializer.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/Interval.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/Month.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/MonthPoint.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/Point.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/Series.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/Week.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/WeekDeserializer.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/WeekPoint.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/WeekSerializer.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/Year.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/domain/YearPoint.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driven/GetHistoryOfMetricPort.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driver/GetHistoryOfMetricCommand.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/port/driver/GetHistoryOfMetricUseCase.java
  coderadar-core/src/main/java/io/reflectoring/coderadar/query/service/GetHistoryOfMetricService.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/adapter/GetHistoryOfMetricAdapter.java
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/query/repository/GetHistoryOfMetricRepository.java
  coderadar-graph/src/test/java/io/reflectoring/coderadar/graph/query/GetHistoryOfMetricAdapterTest.java
  coderadar-rest/src/main/java/io/reflectoring/coderadar/rest/query/GetHistoryOfMetricController.java
Labels: for:team-discussion
