Repository adessoAG/coderadar, pull requests merged in 2020-01, with the labels that each got.

#304 Cityview fixes
  coderadar-ui/package-lock.json
  coderadar-ui/package.json
  coderadar-ui/src/app/city-map/VisualizationConfig.ts
  coderadar-ui/src/app/city-map/autosuggest-wrapper/autosuggest-wrapper.component.html
  coderadar-ui/src/app/city-map/autosuggest-wrapper/autosuggest-wrapper.component.ts
  coderadar-ui/src/app/city-map/control-panel/commit-chooser/commit-chooser.component.html
  coderadar-ui/src/app/city-map/control-panel/commit-chooser/commit-chooser.component.ts
  coderadar-ui/src/app/city-map/control-panel/control-panel.component.html
  coderadar-ui/src/app/city-map/control-panel/control-panel.module.ts
  coderadar-ui/src/app/city-map/control-panel/pipes/highlight-search.pipe.spec.ts
  coderadar-ui/src/app/city-map/control-panel/pipes/highlight-search.pipe.ts
  coderadar-ui/src/app/city-map/control-panel/search/search.component.html
  coderadar-ui/src/app/city-map/control-panel/search/search.component.ts
  coderadar-ui/src/app/city-map/helper/color-helper.ts
  coderadar-ui/src/app/city-map/service/focus.service.ts
  coderadar-ui/src/app/city-map/visualization/comparison-panel/comparison-panel.component.ts
  coderadar-ui/src/app/city-map/visualization/interaction-handler/interaction-handler.ts
  coderadar-ui/src/app/city-map/visualization/screen/screen.component.ts
  coderadar-ui/src/app/city-map/visualization/tooltip/tooltip.component.scss
  coderadar-ui/src/app/city-map/visualization/tooltip/tooltip.component.ts
Labels: component:coderadar-ui

#314 Fixed an error that caused workdirs to become locked and unusable
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/ScanProjectScheduler.java
  coderadar-vcs/src/main/java/io/reflectoring/coderadar/vcs/adapter/UpdateRepositoryAdapter.java
Labels: component:coderadar-core, component:coderadar-vcs

#317 Fixed scan task not adding new commits
  coderadar-graph/src/main/java/io/reflectoring/coderadar/graph/projectadministration/project/adapter/SaveCommitAdapter.java
Labels: component:coderadar-core, type:bug

#321 Fixed error that caused local working directories to not be downloaded
  coderadar-core/src/main/java/io/reflectoring/coderadar/projectadministration/service/project/ScanProjectScheduler.java
  coderadar-vcs/src/main/java/io/reflectoring/coderadar/vcs/adapter/UpdateRepositoryAdapter.java
Labels: component:coderadar-core, type:bug
